body {
  margin: 0;
  padding: 0;
}

.top-space {
  margin-top: 90px;
}

legend {
  margin-bottom: 0px;
}

.title-hr {
  margin-top: 0px;
  border-top: 1px solid #bdc3c7;
}

.body-hr {
  margin-bottom: 16px;
  border-top: 1px solid #dce4ec;
}

.table-bordered {
  border: 1px solid #dce4ec;
}

.table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 2px solid #DCE4EC !important;
}

.table-bordered>thead>tr>th {
  border: none;
  border: 2px solid #3498db;
}

.table-bordered>thead>tr {
  border: 2px solid #3498db;
}

#toast-container > div {
  opacity: 1;
  animation-duration: .5s;
  animation-delay: 0s;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

.toast-top-right {
  top: 71px;
}

ul.pagination {
  margin: 0px 0px;
}

.pagination-content {
  text-align: right;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.total-count {
  padding: 8.3px 15px;
}